<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>납품/인계인수</string>
		<key>count</key>
		<integer>12</integer>
		<key>submenu</key>
		<array>
			<string>납품입고</string>
			<string>main_button_menu_a1</string>
			<string>납품취소</string>
			<string>main_button_menu_a2</string>
			<string>배송출고</string>
			<string>main_button_menu_a3</string>
			<string>인계</string>
			<string>main_button_menu_a4</string>
			<string>인수</string>
			<string>main_button_menu_a5</string>
			<string>시설등록</string>
			<string>main_button_menu_a6</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>유동관리</string>
		<key>count</key>
		<integer>18</integer>
		<key>submenu</key>
		<array>
			<string>입고(팀내)</string>
			<string>main_button_menu_b1</string>
			<string>출고(팀내)</string>
			<string>main_button_menu_b2</string>
			<string>실장</string>
			<string>main_button_menu_b3</string>
			<string>탈장</string>
			<string>main_button_menu_b4</string>
			<string>송부(팀간)</string>
			<string>main_button_menu_b5</string>
			<string>송부취소(팀간)</string>
			<string>main_button_menu_b6</string>
			<string>접수(팀간)</string>
			<string>main_button_menu_b7</string>
			<string>형상구성(창고내)</string>
			<string>main_button_menu_b8</string>
			<string>형상해제(창고내)</string>
			<string>main_button_menu_b9</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>인스토어마킹</string>
		<key>count</key>
		<integer>8</integer>
		<key>submenu</key>
		<array>
			<string>바코드대체요청</string>
			<string>main_button_menu_c1</string>
			<string>부외실물등록요청</string>
			<string>main_button_menu_c2</string>
			<string>인스토어마킹완료</string>
			<string>main_button_menu_c3</string>
			<string>인스토어마킹관리</string>
			<string>main_button_menu_i1</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>수리/개조개량</string>
		<key>count</key>
		<integer>14</integer>
		<key>submenu</key>
		<array>
			<string>고장등록</string>
			<string>main_button_menu_d1</string>
			<string>고장등록취소</string>
			<string>main_button_menu_d2</string>
			<string>수리의뢰취소</string>
			<string>main_button_menu_d3</string>
			<string>수리완료</string>
			<string>main_button_menu_d4</string>
			<string>개조개량의뢰</string>
			<string>main_button_menu_d5</string>
			<string>개조개량의뢰취소</string>
			<string>main_button_menu_d6</string>
			<string>개조개량완료</string>
			<string>main_button_menu_d7</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>철거관리</string>
		<key>count</key>
		<integer>2</integer>
		<key>submenu</key>
		<array>
			<string>철거</string>
			<string>main_button_menu_e1</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>설비상태변경</string>
		<key>count</key>
		<integer>4</integer>
		<key>submenu</key>
		<array>
			<string>설비상태변경</string>
			<string>main_button_menu_f1</string>
			<string>S/N변경</string>
			<string>main_button_menu_f2</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>재물조사</string>
		<key>count</key>
		<integer>6</integer>
		<key>submenu</key>
		<array>
			<string>현장점검(창고/실)</string>
			<string>main_button_menu_g1</string>
			<string>현장점검(베이)</string>
			<string>main_button_menu_g2</string>
			<string>상품단말실사</string>
			<string>main_button_menu_g3</string>
			<string>임대단말실사</string>
			<string>main_button_menu_g4</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>정보조회도우미</string>
		<key>count</key>
		<integer>6</integer>
		<key>submenu</key>
		<array>
			<string>물품정보</string>
			<string>main_button_menu_h1</string>
			<string>설비정보</string>
			<string>main_button_menu_h2</string>
			<string>장치바코드정보</string>
			<string>main_button_menu_h3</string>
			<string>위치정보</string>
			<string>main_button_menu_h4</string>
			<string>고장수리이력</string>
			<string>main_button_menu_h6</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>바코드관리</string>
		<key>count</key>
		<integer>6</integer>
		<key>submenu</key>
		<array>
			<string>위치바코드</string>
			<string>main_button_menu_i3</string>
			<string>장치바코드</string>
			<string>main_button_menu_i2</string>
			<string>소스마킹</string>
			<string>main_button_menu_i4</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>설정</string>
		<key>count</key>
		<integer>1</integer>
		<key>submenu</key>
		<array>
			<string>종료</string>
		</array>
	</dict>
</array>
</plist>
