<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PERSONAL_INFO_AGREE2</key>
	<string>0</string>
	<key>PERSONAL_INFO_AGREE1</key>
	<string>0</string>
	<key>PERSONAL_INFO_AGREE3</key>
	<string>0</string>
	<key>PERSONAL_INFO_AGREE4</key>
	<string>0</string>
	<key>PORT</key>
	<string></string>
	<key>IP</key>
	<string></string>
	<key>SOUND</key>
	<string>1</string>
	<key>SOFT_KEYBOARD</key>
	<string>0</string>
	<key>0</key>
	<dict>
		<key>x</key>
		<string>570</string>
		<key>y</key>
		<string>0</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
	<key>1</key>
	<dict>
		<key>x</key>
		<string>520</string>
		<key>y</key>
		<string>0</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
	<key>2</key>
	<dict>
		<key>x</key>
		<string>540</string>
		<key>y</key>
		<string>70</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
	<key>3</key>
	<dict>
		<key>x</key>
		<string>420</string>
		<key>y</key>
		<string>110</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
	<key>5</key>
	<dict>
		<key>x</key>
		<string>330</string>
		<key>y</key>
		<string>0</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
	<key>6</key>
	<dict>
		<key>x</key>
		<string>500</string>
		<key>y</key>
		<string>0</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
	<key>7</key>
	<dict>
		<key>x</key>
		<string>540</string>
		<key>y</key>
		<string>230</string>
		<key>xu</key>
		<string>0</string>
		<key>yu</key>
		<string>0</string>
		<key>sd</key>
		<string>25</string>
	</dict>
</dict>
</plist>
